<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.zero.mp3music">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconfloatingactionbutton"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Activity_List_BaiHat" />
        <activity android:name=".Activity.Activity_List_Playlist" />
        <activity android:name=".Activity.DisconnectActivity" />
        <activity android:name=".Activity.Activity_List_Chude" />
        <activity android:name=".Activity.Activity_List_Theloai_theo_chude" />
        <activity android:name=".Activity.Activity_List_Album" />
        <activity android:name=".Activity.Activity_Play_Nhac"></activity>
    </application>

</manifest>